:root {
  --primary: rgb(255, 166, 0);
  --secondary: rgba(122, 116, 116, 0.689);
  --dark: rgb(112, 94, 94);
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-repeat: no-repeat;
  min-height: 100vh;  
  background: linear-gradient(90deg, rgba(67, 67, 238, 0.767), rgba(228, 75, 75, 0.938), orange);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.welcome {
  padding-bottom: 100px;
  font-size: 50px;
  font-weight: 600;
}

.calculator {
  background-color: var(--light);
  overflow: hidden;
  width: 400px;
  min-width: 400px;
  border-radius: 10px;
  justify-content: center;
}

.resultScreen {
  padding: 16px;
  text-align: right;
  background-color: var(--secondary);
  color: var(--light);
  font-size: 30px;
  font-weight: 400;
}

button {
  outline: none;
  font-size: 14px;
  font-weight: 900;
  padding: 16px;
  cursor: pointer;
  border: 1px solid rgb(231, 222, 222);
  appearance: none;
  color: var(--dark);
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
  background-color: var(--dark);
  color: var(--light);
}

.buttonSet1,
.buttonSet2,
.buttonSet3,
.buttonSet4 {
  display: flex;
}

.buttonSet1 button,
.buttonSet2 button,
.buttonSet3 button,
.buttonSet4 button {
  flex: 1 1 0%;
}

.buttonSet5 {
  display: flex;
}

.buttonSet5 button {
  flex: 1;
}

button:hover:active {
  background-color: var(--light);
  color: var(--dark);
}

.bigger {
  padding: 0 66px;
}

.operatorBtn {
  background-color: var(--primary);
  color: var(--dark);
}

.load {
  font-size: 60px;
  padding: 300px 36px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}

.quotes,
h4 {
  font-size: 60px;
  padding: 300px 36px;
  font-weight: 400;
  align-items: center;
  text-align: center;
}

h4 {
  color: red;
}
